#rotator ul {
  margin: 0;
}
  
#rotator ul li {
  list-style: none;
  position: absolute;
}
	
#rotator ul li.show {
  z-index:500;
}

#rotator img{
	max-height: 90%;
    max-width: 90%;
	display: block;
    margin-left: 100px;
	margin-top: 20px;
}